*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --greylight:#f1f5f9;
    --grey-dark:#0f172a;

}
body {
    background-color: var(--greylight);
    color: var(--grey-dark);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.blogs{
    padding:3rem 0;

}
.img{
    width: 100%;
    height: 10rem;
    background-color: beige;
    object-fit:contain;
    display: block;
}
.section-title{
    text-align: center;
    text-transform: capitalize;
    margin: bottom 1.5rem;
    font-size: x-large;
}
.blogs-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
}
.blog{
    background-color: white;
    padding: 1rem;
    border-radius: 20px;

}

