/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Navbar
===============
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  /* w6*/
  --primary:#645cff;
  --primary-dark:#3c3799;
  --grey-light:#f1f5f9;
  --grey:#646464;
  --grey-dark:#0f172a;
  --letter-spacing:2px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.social-icons {
  display: flex;
  gap: 1.7rem;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 1.7rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: var(--clr-primary-5);
  margin-bottom: 1.25rem;
  margin: 0 auto;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-10);
  height: 4rem;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.nav-links {
  display: none;
}
.nav-btn {
  position: absolute;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--clr-primary-5);
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--clr-primary-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    right: 3rem;
    font-size: 1.2rem;
  }
  .nav-links li a {
    color: var(--clr-grey-5);
  }
  .nav-links li a:hover {
    color: var(--clr-primary-5);
    border-bottom: 2px solid rgba(133, 26, 26, 0.5);
  }
  .nav-btn {
    display: none;
  }
}
/*
================
sidebar
================
*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  transform: translateX(-100%);
}
.sidebar .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  border-color: transparent;
  background-color: transparent;
  color: #bb2525;
  cursor: pointer;
}
.sidebar .close-btn:hover {
  color: #e66b6b;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
}
.sidebar-links a:hover {
  color: var(--clr-grey-2);
}

.show-sidebar {
  transform: translateX(0);
}

/*
  =============== 
  Hero
  ===============
  */
.hero {
  background-color: var(--clr-primary-10);
}
.hero-center {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}
.hero .underline {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-img {
  display: none;
}
.hero .social-icons {
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    display: block;
    width: 70%;
    position: relative;
  }
  .hero-img::before {
    content: "";
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
  }
  .hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}
/*
  =============== 
  About
  ===============
  */
.about {
  background-color: var(--clr-white);
}
.about-center {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}
.about .underline {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.about-info h4 {
  color: var(--clr-grey-5);
}
.about-img {
  display: none;
}
.about p a {
  color: var(--clr-grey-3);
}

@media screen and (min-width: 768px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    display: block;
    width: 70%;
    position: relative;
  }
  .about-img::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
  }
  .about-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}
/*
  =============== 
  blog
  ===============
  */
.w6-blogs {
  padding: 3rem 0;
}
.w6-blogs .img {
  width: 100%;
  height: 10rem;
  background-color: beige;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.w6-blogs .section-title h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.w6-blogs-center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 2rem;
}
.w6-blogs .blog {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.w6-blogs .blog-content {
  padding: 0.5rem 0;
}
.w6-blogs .blog-content span {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  color: var(--primary);
}
.w6-blogs .blog-content h3 {
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  font-size: 1.5rem;
}
.w6-blogs .blog-content p {
  color: var(--grey);
  margin: bottom 0.5rem;
}
.w6-blogs .blog-content a {
  text-transform: capitalize;
  color: var(--grey-dark);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 550px) {
  .w6-blogs-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .w6-blogs-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .w6-blogs-center {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .w6-blogs-center {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .w6-blogs-center {
    grid-template-columns: repeat(6, 1fr);
  }
}
/*
  =============== 
  w3-blog
  ===============
  */
.w3-card .card {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  padding: 1.5em 2rem;
  margin: 3rem;
}
.w3-card .card-1 {
  border-color: #ff69a6;
}
.w3-card .card-1 .icon {
  background: #ff69a6;
}
.w3-card .card-2 {
  border-color: #1d3596;
}
.w3-card .card-2 .icon {
  background: #1d3596;
}
.w3-card .icon {
  width: 40px;
  height: 40px;
  background: #ff69a6;
  border-radius: 50%;
  margin: 0 auto;
}

/*
  =============== 
    footer
  ===============
  */
.footer {
  background-color: #333;
  display: grid;
  place-items: center;
}
.footer .social-icon {
  color: var(--clr-primary-5);
  margin-bottom: 1rem;
}
.footer .social-icon:hover {
  color: var(--clr-primary-10);
}
.footer p {
  text-transform: capitalize;
  font-size: 1.25rem;
}

/*
  =============== 
    resume
  ===============
*/
.resume1 .container * {
  outline: none;
}
.resume1 .container *,
.resume1 .container *:before,
.resume1 .container *:after {
  box-sizing: inherit;
}
.resume1 .container body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  background: #ffffff;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.resume1 .container a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition-duration: 0.3s;
}
.resume1 .container ul {
  list-style-type: none;
  padding: 0;
}
.resume1 .container h3 {
  color: #ffb300;
  padding-top: 10px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 1.25em;
}
.resume1 .container .about p {
  color: #9fa8da;
  padding: 10px;
  text-align: center;
}
.resume1 .container .resume {
  width: 960px;
  background: #1a237e;
  color: #ffffff;
  margin: 20px auto;
  box-shadow: 10px 10px #0e1442;
  position: relative;
  display: flex;
}
.resume1 .container .base,
.resume1 .container .func {
  box-sizing: border-box;
  float: left;
}
.resume1 .container .base > div,
.resume1 .container .func > div {
  padding-bottom: 10px;
}
.resume1 .container .base > div:last-of-type,
.resume1 .container .func > div:last-of-type {
  padding-bottom: 0;
}
.resume1 .container .base {
  width: 30%;
  padding: 30px 15px;
  background: #283593;
  color: #ffffff;
}
.resume1 .container .base .profile {
  background: #ffb300;
  padding: 30px 15px 40px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 1;
}
.resume1 .container .base .profile::after {
  content: "";
  position: absolute;
  background: #303f9f;
  width: 100%;
  height: 30px;
  bottom: -15px;
  left: 0;
  transform: skewY(-5deg);
  z-index: -1;
}
.resume1 .container .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
}
.resume1 .container .base .profile .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume1 .container .base .profile .fa-rocket {
  font-size: 100px;
  text-align: center;
  margin: auto;
  color: #283593;
}
.resume1 .container .base .profile .info {
  text-align: center;
  color: #ffffff;
}
.resume1 .container .base .profile .info .name {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #1a237e;
  line-height: 1.4;
}
.resume1 .container .base .profile .info .job {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: lowercase;
  color: #283593;
}
.resume1 .container .base .contact div {
  line-height: 23px;
}
.resume1 .container .base .contact div a:hover {
  color: #fdd835;
}
.resume1 .container .base .contact div a:hover span::after {
  width: 100%;
}
.resume1 .container .base .contact div:hover i {
  color: #fdd835;
}
.resume1 .container .base .contact div i {
  color: #ffb300;
  width: 15px;
  height: 15px;
  font-size: 15px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}
.resume1 .container .base .contact div span {
  position: relative;
}
.resume1 .container .base .contact div span::after {
  content: "";
  position: absolute;
  background: #fdd835;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.resume1 .container .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.resume1 .container .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.resume1 .container .base .follow .box a:hover i {
  background: #fdd835;
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.resume1 .container .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
.resume1 .container .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  background: #ffb300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: #283593;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
.resume1 .container .base .follow .box i::before {
  transition-duration: 0.3s;
}
.resume1 .container .base .follow .box i.fa::before {
  display: block;
}
.resume1 .container .resume .func {
  width: 100%;
  padding: 30px;
}
.resume1 .container .resume .func:hover > div {
  transition-duration: 0.5s;
}
.resume1 .container .resume .func:hover > div:hover h3 i {
  transform: scale(1.25);
}
.resume1 .container .resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}
.resume1 .container .resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}
.resume1 .container .resume .func h3 i {
  color: #283593;
  background: #ffb300;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .work,
.resume1 .container .resume .func .edu {
  float: left;
}
.resume1 .container .resume .func .work small,
.resume1 .container .resume .func .edu small {
  display: block;
  opacity: 0.7;
}
.resume1 .container .resume .func .work ul li,
.resume1 .container .resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.resume1 .container .resume .func .work ul li:hover::before,
.resume1 .container .resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.resume1 .container .resume .func .work ul li:hover span,
.resume1 .container .resume .func .edu ul li:hover span {
  color: #fdd835;
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #fdd835;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.resume1 .container .resume .func .work ul li:first-of-type::before,
.resume1 .container .resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}
.resume1 .container .resume .func .work ul li:last-of-type,
.resume1 .container .resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.resume1 .container .resume .func .work ul li:last-of-type::after,
.resume1 .container .resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.resume1 .container .resume .func .work ul li::before,
.resume1 .container .resume .func .work ul li::after,
.resume1 .container .resume .func .edu ul li::before,
.resume1 .container .resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.resume1 .container .resume .func .work ul li::before,
.resume1 .container .resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid #ffffff;
  background: #ffb300;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}
.resume1 .container .resume .func .work ul li::after,
.resume1 .container .resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #ffffff;
  left: 5px;
  top: 0;
}
.resume1 .container .resume .func .work ul li span,
.resume1 .container .resume .func .edu ul li span {
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .work {
  width: 48%;
  background: #283593;
  padding: 15px;
  margin: 0 4% 15px 0;
}
.resume1 .container .resume .func .edu {
  width: 48%;
  background: #283593;
  padding: 15px;
}
.resume1 .container .resume .func .skills-prog {
  clear: both;
  background: #283593;
  padding: 15px;
}
.resume1 .container .resume .func .skills-prog ul {
  margin-left: 15px;
}
.resume1 .container .resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .skills-prog ul li:hover {
  color: #fdd835;
}
.resume1 .container .resume .func .skills-prog ul li:hover .skills-bar .bar {
  background: #fdd835;
  box-shadow: 0 0 0 1px #fdd835;
}
.resume1 .container .resume .func .skills-prog ul li span {
  display: block;
  width: 120px;
}
.resume1 .container .resume .func .skills-prog ul li .skills-bar {
  background: #ffffff;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.resume1 .container .resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: #ffb300;
  box-shadow: 0 0 0 #ffb300;
  border-radius: 5px;
}
.resume1 .container .resume .func .skills-soft {
  clear: both;
  background: #283593;
  padding: 15px;
  margin: 15px 0 0;
}
.resume1 .container .resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.resume1 .container .resume .func .skills-soft ul li {
  position: relative;
}
.resume1 .container .resume .func .skills-soft ul li:hover svg .cbar {
  stroke: #fdd835;
  stroke-width: 4px;
}
.resume1 .container .resume .func .skills-soft ul li:hover span,
.resume1 .container .resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}
.resume1 .container .resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.resume1 .container .resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: #ffffff;
}
.resume1 .container .resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: #ffb300;
  stroke-linecap: round;
}
.resume1 .container .resume .func .skills-soft ul li span,
.resume1 .container .resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .skills-soft ul li span {
  top: 40%;
}
.resume1 .container .resume .func .interests {
  background: #283593;
  margin: 15px 0 0;
  padding: 15px;
}
.resume1 .container .resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.resume1 .container .resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.resume1 .container .resume .func .interests-items div:hover i {
  transform: scale(1.2);
}
.resume1 .container .resume .func .interests-items div:hover span {
  color: #fdd835;
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #ffb300;
  transition-duration: 0.3s;
}
.resume1 .container .resume .func .interests-items div span {
  display: block;
}

@media only screen and (min-width: 1280px) {
  .resume .func {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .resume1 .container .resume .func {
    width: 46%;
    /* padding: 30px; */
  }
}
/*
=============== 
projects
===============
*/
.projects .section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.projects-text {
  width: 80vw;
  margin: 0 auto;
}
.projects .underline {
  margin-bottom: 1.5rem;
}
.projects-center .project {
  position: relative;
  margin-bottom: 2rem;
  background-color: var(--clr-primary-5);
  border-radius: var(--radius);
}
.projects-center .project::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  opacity: 0;
  transition: var(--transition);
  border-radius: var(--radius);
}
.projects-center .project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}
.projects-center .project-img {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
  border-radius: var(--radius);
}
.projects-center .project-info {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  color: var(--clr-white);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition);
}
.projects-center .project-info p {
  color: var(--clr-white);
}
.projects-center .project:hover .project-info {
  opacity: 1;
}
.projects-center .project:hover .project-img {
  opacity: 0.2;
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    display: grid;
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas: "a b b" "a c d";
  }
  .projects-center .project-img {
    height: 100%;
  }
  .projects-center .project {
    height: 100%;
  }
  .projects-center .project-1 {
    grid-area: a;
  }
  .projects-center .project-2 {
    grid-area: b;
  }
  .projects-center .project-3 {
    grid-area: c;
  }
  .projects-center .project-4 {
    grid-area: d;
  }
}/*# sourceMappingURL=styles_xx.css.map */