@use "global_xx";

/*
=============== 
Navbar
===============
*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-10);
  height: 4rem;

  &-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }

  &-links {
    display: none;
  }

  &-btn {
    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--clr-primary-5);
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
  }
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--clr-primary-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .nav {
    &-links {
      display: flex;
      gap: 1.5rem;
      position: absolute;
      right: 3rem;
      font-size: 1.2rem;

      li a {
        color: var(--clr-grey-5);

        &:hover {
          color: var(--clr-primary-5);
          border-bottom: 2px solid rgba(133, 26, 26, 0.5);
        }
      }
    }

    &-btn {
      display: none;
    }
  }
}

/*
================
sidebar
================
*/

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  transform: translateX(-100%);

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    border-color: transparent;
    background-color: transparent;
    color: #bb2525;
    cursor: pointer;

    &:hover {
      color: #e66b6b;
    }
  }

  &-links {
    a {
      font-size: 2rem;
      text-transform: capitalize;
      color: var(--clr-grey-5);
      letter-spacing: var(--spacing);

      &:hover {
        color: var(--clr-grey-2);
      }
    }
  }
}

.show-sidebar {
  transform: translateX(0);
}

/*
  =============== 
  Hero
  ===============
  */
.hero {
  background-color: var(--clr-primary-10);

  &-center {
    min-height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
  }

  .underline {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  &-info h4 {
    color: var(--clr-grey-5);
  }

  &-img {
    display: none;
  }
  .social-icons {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    &-center {
      grid-template-columns: 1fr 1fr;
    }

    &-img {
      display: block;
      width: 70%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 2rem;
        right: -2rem;
        width: 100%;
        height: 100%;
        border: 0.25rem solid var(--clr-primary-5);
      }
    }

    &-photo {
      max-width: 25rem;
      max-height: 30rem;
      object-fit: cover;
      border-radius: var(--radius);
      position: relative;
    }
  }
}

/*
  =============== 
  About
  ===============
  */
.about {
  background-color: var(--clr-white);

  &-center {
    min-height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
  }

  .underline {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  &-info h4 {
    color: var(--clr-grey-5);
  }

  &-img {
    display: none;
  }
  p a {
    color: var(--clr-grey-3);
  }
}

@media screen and (min-width: 768px) {
  .about {
    &-center {
      grid-template-columns: 1fr 1fr;
    }

    &-img {
      display: block;
      width: 70%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 2rem;
        left: -2rem;
        width: 100%;
        height: 100%;
        border: 0.25rem solid var(--clr-primary-5);
      }
    }

    &-photo {
      max-width: 25rem;
      max-height: 30rem;
      object-fit: cover;
      border-radius: var(--radius);
      position: relative;
    }
  }
}
/*
  =============== 
  blog
  ===============
  */
.w6-blogs {
  padding: 3rem 0;
  .img {
    width: 100%;
    height: 10rem;
    background-color: beige;
    object-fit: contain;
    display: block;
  }
  .section-title h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  &-center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 2rem;
  }

  .blog {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  }
  .blog-content {
    padding: 0.5rem 0;
  }
  .blog-content span {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
    color: var(--primary);
  }
  .blog-content h3 {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    font-size: 1.5rem;
  }
  .blog-content p {
    color: var(--grey);
    margin: bottom 0.5rem;
  }
  .blog-content a {
    text-transform: capitalize;
    color: var(--grey-dark);
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 550px) {
  .w6-blogs-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .w6-blogs-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .w6-blogs-center {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .w6-blogs-center {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .w6-blogs-center {
    grid-template-columns: repeat(6, 1fr);
  }
}
/*
  =============== 
  w3-blog
  ===============
  */
.w3-card {
    .card {
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    padding: 1.5em 2rem;
    margin: 3rem;

    &-1 {
        border-color: #ff69a6;
        .icon {
        background: #ff69a6;
        }
    }
    &-2 {
        border-color: #1d3596;
        .icon {
        background: #1d3596;
        }
    }
    }

    .icon {
    width: 40px;
    height: 40px;
    background: #ff69a6;
    border-radius: 50%;
    margin: 0 auto;
    }    
}


/*
  =============== 
    footer
  ===============
  */
.footer {
  background-color: #333;
  display: grid;
  place-items: center;

  .social-icon {
    color: var(--clr-primary-5);
    margin-bottom: 1rem;

    &:hover {
      color: var(--clr-primary-10);
    }
  }

  p {
    text-transform: capitalize;
    font-size: 1.25rem;
  }
}
/*
  =============== 
    resume
  ===============
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

$darkest-blue: #1a237e;
$darker-blue: #283593;
$dark-blue: #303f9f;
$medium-blue: #3949ab;
$light-blue: #3f51b5;
$lighter-blue: #5c6bc0;
$lightest-blue: #9fa8da;
$white: #ffffff;
$black: #0e1442;
$orange: #ffb300;
$yellow: #fdd835;
$dark-pink: #ad1457;
$light-pink: #d81b60;

.resume1 {
  .container {
    * {
      outline: none;
    }
    *,
    *:before,
    *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
    body {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background: $white;
      cursor: default;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: $white;
      display: block;
      transition-duration: 0.3s;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    h3 {
      
      color: $orange;
      padding-top: 10px;
      text-align: center;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 1.25em;

    }
    .about p {
      color:  $lightest-blue;
      padding: 10px;
      text-align: center;
    }

    .resume {
      width: 960px;
      background: $darkest-blue;
      color: $white;
      margin: 20px auto;
      box-shadow: 10px 10px $black;
      position: relative;
      display: flex;
    }
    .base,
    .func {
      box-sizing: border-box;
      float: left;
    }
    .base > div,
    .func > div {
      padding-bottom: 10px;
    }
    .base > div:last-of-type,
    .func > div:last-of-type {
      padding-bottom: 0;
    }
    .base {
      width: 30%;
      padding: 30px 15px;
      background: $darker-blue;
      color: $white;

      .profile {
        background: $orange;
        padding: 30px 15px 40px 15px;
        margin: -30px -15px 45px -15px;
        position: relative;
        z-index: 1;
      
        &::after {
        content: "";
        position: absolute;
        background: $dark-blue;
        width: 100%;
        height: 30px;
        bottom: -15px;
        left: 0;
        transform: skewY(-5deg);
        z-index: -1;
        } 
        .photo img {
        width: 100%;
        border-radius: 50%;
        }
        .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        }  
        .fa-rocket {
          font-size: 100px;
          text-align: center;
          margin: auto;
          color: $darker-blue;
        }
        .info {
          text-align: center;
          color: $white;

          .name {
          margin-top: 15px;
          margin-bottom: 0;
          font-size: 1.75em;
          text-transform: uppercase;
          color: $darkest-blue;
          line-height: 1.4;
          }

          .job {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 1.5em;
          text-transform: lowercase;
          color: $darker-blue;
          }
      }
    }
    .contact div {
      line-height: 23px;
    }
    .contact div a:hover {
      color: $yellow;
    }
    .contact div a:hover span::after {
      width: 100%;
    }
    .contact div:hover i {
      color: $yellow;
    }
    .contact div i {
      color: $orange;
      width: 15px;
      height: 15px;
      font-size: 15px;
      text-align: center;
      margin-right: 15px;
      transition-duration: 0.3s;
    }
    .contact div span {
      position: relative;
    }
    .contact div span::after {
      content: "";
      position: absolute;
      background: $yellow;
      height: 1px;
      width: 0;
      bottom: 0;
      left: 0;
      transition-duration: 0.3s;
    }
    .follow .box {
      text-align: center;
      vertical-align: middle;
    }
    .follow .box a {
      display: inline-block;
      vertical-align: text-bottom;
    }
    .follow .box a:hover i {
      background: $yellow;
      border-radius: 5px;
      transform: rotate(45deg) scale(0.8);
    }
    .follow .box a:hover i::before {
      transform: rotate(-45deg) scale(1.5);
    }
    .follow .box i {
      display: inline-block;
      font-size: 30px;
      background: $orange;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      line-height: 60px;
      color: $darker-blue;
      margin: 0 10px 10px 10px;
      transition-duration: 0.3s;
    }
    .follow .box i::before {
      transition-duration: 0.3s;
    }
    .follow .box i.fa::before {
      display: block;
    }
    
    
  }

    .resume .func {
      width: 100%;
      padding: 30px;
    }
    .resume .func:hover > div {
      transition-duration: 0.5s;
    }
    .resume .func:hover > div:hover h3 i {
      transform: scale(1.25);
    }
    .resume .func:hover > div:not(:hover) {
      opacity: 0.5;
    }
    .resume .func h3 {
      transition-duration: 0.3s;
      margin-top: 0;
    }
    .resume .func h3 i {
      color: $darker-blue;
      background: $orange;
      width: 42px;
      height: 42px;
      font-size: 20px;
      line-height: 42px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: 8px;
      transition-duration: 0.3s;
    }
    .resume .func .work,
    .resume .func .edu {
      float: left;
    }
    .resume .func .work small,
    .resume .func .edu small {
      display: block;
      opacity: 0.7;
    }
    .resume .func .work ul li,
    .resume .func .edu ul li {
      position: relative;
      margin-left: 15px;
      padding-left: 25px;
      padding-bottom: 15px;
    }
    .resume .func .work ul li:hover::before,
    .resume .func .edu ul li:hover::before {
      animation: circle 1.2s infinite;
    }
    .resume .func .work ul li:hover span,
    .resume .func .edu ul li:hover span {
      color: $yellow;
    }
    @keyframes circle {
      from {
        box-shadow: 0 0 0 0px $yellow;
      }
      to {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
      }
    }
    .resume .func .work ul li:first-of-type::before,
    .resume .func .edu ul li:first-of-type::before {
      width: 10px;
      height: 10px;
      left: 1px;
    }
    .resume .func .work ul li:last-of-type,
    .resume .func .edu ul li:last-of-type {
      padding-bottom: 3px;
    }
    .resume .func .work ul li:last-of-type::after,
    .resume .func .edu ul li:last-of-type::after {
      border-radius: 1.5px;
    }
    .resume .func .work ul li::before,
    .resume .func .work ul li::after,
    .resume .func .edu ul li::before,
    .resume .func .edu ul li::after {
      content: "";
      display: block;
      position: absolute;
    }
    .resume .func .work ul li::before,
    .resume .func .edu ul li::before {
      width: 7px;
      height: 7px;
      border: 3px solid $white;
      background: $orange;
      border-radius: 50%;
      left: 3px;
      z-index: 1;
    }
    .resume .func .work ul li::after,
    .resume .func .edu ul li::after {
      width: 3px;
      height: 100%;
      background: $white;
      left: 5px;
      top: 0;
    }
    .resume .func .work ul li span,
    .resume .func .edu ul li span {
      transition-duration: 0.3s;
    }
    .resume .func .work {
      width: 48%;
      background: $darker-blue;
      padding: 15px;
      margin: 0 4% 15px 0;
    }
    .resume .func .edu {
      width: 48%;
      background: $darker-blue;
      padding: 15px;
    }
    .resume .func .skills-prog {
      clear: both;
      background: $darker-blue;
      padding: 15px;
    }
    .resume .func .skills-prog ul {
      margin-left: 15px;
    }
    .resume .func .skills-prog ul li {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      transition-duration: 0.3s;
    }
    .resume .func .skills-prog ul li:hover {
      color: $yellow;
    }
    .resume .func .skills-prog ul li:hover .skills-bar .bar {
      background: $yellow;
      box-shadow: 0 0 0 1px $yellow;
    }
    .resume .func .skills-prog ul li span {
      display: block;
      width: 120px;
    }
    .resume .func .skills-prog ul li .skills-bar {
      background: $white;
      height: 2px;
      width: calc(100% - 120px);
      position: relative;
      border-radius: 2px;
    }
    .resume .func .skills-prog ul li .skills-bar .bar {
      position: absolute;
      top: -1px;
      height: 4px;
      background: $orange;
      box-shadow: 0 0 0 $orange;
      border-radius: 5px;
    }
    .resume .func .skills-soft {
      clear: both;
      background: $darker-blue;
      padding: 15px;
      margin: 15px 0 0;
    }
    .resume .func .skills-soft ul {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .resume .func .skills-soft ul li {
      position: relative;
    }
    .resume .func .skills-soft ul li:hover svg .cbar {
      stroke: $yellow;
      stroke-width: 4px;
    }
    .resume .func .skills-soft ul li:hover span,
    .resume .func .skills-soft ul li:hover small {
      transform: scale(1.2);
    }
    .resume .func .skills-soft ul li svg {
      width: 95%;
      fill: transparent;
      transform: rotate(-90deg);
    }
    .resume .func .skills-soft ul li svg circle {
      stroke-width: 1px;
      stroke: $white;
    }
    .resume .func .skills-soft ul li svg .cbar {
      stroke-width: 3px;
      stroke: $orange;
      stroke-linecap: round;
    }
    .resume .func .skills-soft ul li span,
    .resume .func .skills-soft ul li small {
      position: absolute;
      display: block;
      width: 100%;
      top: 52%;
      transition-duration: 0.3s;
    }
    .resume .func .skills-soft ul li span {
      top: 40%;
    }
    .resume .func .interests {
      background: $darker-blue;
      margin: 15px 0 0;
      padding: 15px;
    }
    .resume .func .interests-items {
      box-sizing: border-box;
      padding: 0 0 15px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
    .resume .func .interests-items div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .resume .func .interests-items div:hover i {
      transform: scale(1.2);
    }
    .resume .func .interests-items div:hover span {
      color: $yellow;
      transition-duration: 0.3s;
    }
    .resume .func .interests-items div i {
      font-size: 45px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: $orange;
      transition-duration: 0.3s;
    }
    .resume .func .interests-items div span {
      display: block;
    }
  }
}
@media only screen and (min-width:1280px){
   .resume .func {
    width: 100%;
}
}
@media screen and (max-width: 768px) {
  .resume1 .container .resume .func {
      width: 46%;
      /* padding: 30px; */
  }
}
/*
=============== 
projects
===============
*/

.projects {
  .section-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &-text {
    width: 80vw;
    margin: 0 auto;
  }

  .underline {
    margin-bottom: 1.5rem;

  }

  &-center {
    .project {
      position: relative;
      margin-bottom: 2rem;
      background-color: var(--clr-primary-5);
      border-radius: var(--radius);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0.25rem solid var(--clr-white);
        opacity: 0;
        transition: var(--transition);
        border-radius: var(--radius);
      }
      &:hover::after {
        opacity: 1;
        transform: scale(0.8);
      }
      &-img {
        height: 15rem;
        object-fit: cover;
        transition: var(--transition);
        border-radius: var(--radius);
      }

      &-info {
        position: absolute;
        text-align: center;
        left: 50%;
        top:50%;
        color: var(--clr-white);
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: var(--transition);

        p {
          color: var(--clr-white);

        }
      }

      &:hover .project-info {
        opacity: 1;
      }

      &:hover .project-img {
        opacity: 0.2;
      }
    }



  }
}
@media screen and ( min-width:  676px ) {
  .projects {
    &-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
  }
}
@media screen and ( min-width:  992px ) {
  .projects {
    &-center {
      display: grid;
      grid-template-columns: repeat(3 ,1fr);
      column-gap: 2rem;
    }
  }
}

@media screen and ( min-width:  1170px ) {
  .projects {
    &-center {
      display: grid;
      grid-template-rows: 200px 200px;
      gap: 1rem;
      grid-template-areas: 
      'a b b'
      'a c d';

      .project-img {
        height: 100%;
      }
      .project {
        height: 100%;
      }
      .project-1 {
        grid-area: a;
      }
      .project-2 {
        grid-area: b;
      }
      .project-3 {
        grid-area: c;
      }
      .project-4 {
        grid-area: d;
      }
    }
  }

}

